
// Grid config
$totalColumns: 6;
$columnWidth: 180px;

// Font sizes
$base-font-size: 14;
$base-line-height: 20;
$alpha-size: 24;
$beta-size: 18;
$gamma-size: 14;

// Colours
$colour-1: #121212;

// Breakpoints
$medium: 720;
$small: 480;
